<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<title>{%block head%}{%endblock%}</title>
		<style media="screen">
			td,th {text-align: center!important;}
		</style>
<link href="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/css/bootstrap.css" rel="stylesheet">
		<script src="http://cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
		<script src="http://cdn.bootcss.com/bootstrap/4.0.0-alpha.6/js/bootstrap.min.js"></script>
	</head>
	<body>
		{%block content%}
			内容主体
		{%endblock%}
	</body>
</html>
